+b.advantages
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.title
					h3 Преимущества заказа у нас
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.text
					h4 Наша команда ставит перед собой единственную цель - продажа современной надежной техники для производства высококачественных асфальто-бетонных смесей, которые уже успешно применяются в строительных сферах многих стран и имеют сертификаты качества в Европе.
					.item.col-lg-4.col-md-4.col-sm-12.col-xs-12
						.item-contant.img1
							p Контролируем<br>качество заказа
					.item.col-lg-4.col-md-4.col-sm-12.col-xs-12
						.item-contant.img2
							p Резервируем для вас<br>АБЗ на складе
					.item.col-lg-4.col-md-4.col-sm-12.col-xs-12
						.item-contant.img3
							p Индивидуальные схемы<br>под каждый заказ