.header
	background-color #fff
	&__logo
		@media(min-width 992px)
			margin-top 15px
		@media(max-width 992px)
			margin-top 45px
	&__info
		text-align center
		margin-top 40px
		h3
			font 1rem $regularMain
			color $gray
			text-align center
			span
				color $red
	&__contacts
		text-align right
		@media(min-width 992px)
			margin-top 40px
		@media(max-width 992px)
			margin-top 60px
		.marker
			img
				display inline-block
				margin-right 3px
				
			p
				display inline-block
				font 1.1rem $regularMain
				color $gray
				position relative
				top 1px
				margin-bottom 0
		p
			font 1.2rem $regularMain
			color $gray
			margin-bottom 0
			span
				color $red
		a
			font 0.98rem $regularMain
			color $red
			text-decoration none
			&:hover
				text-decoration underline
				color $lightRed
	&__menu
		.main-menu
			.hamburger
				position absolute
				top 3px
				@media(max-width 780px)
					right 3%
				@media(min-width 780px)
					right 13%
			.message
				display block
				margin-top 10px
				position absolute
				color $white
				font 0.98rem $regularMain
				text-decoration underline
				padding-left 15px
				&:hover
					color $dirtyWhite
				@media(max-width 780px)
					left 3%
				@media(min-width 780px)
					left 13%
			.message-up
				display none
			.full-menu
				margin-top 15px
				.dropdown__menu
					display none
					padding 25px
					background-color #db2e35
					z-index 5
					position absolute
					top 80px
					text-align left
					li
						display block
						float none
						loat left
						padding 20px 0
						background-color transparent
						@media(max-width 1200px)
							padding 0px
						&:first-child
							padding-top 0
						&:last-child
							padding 20px 0
						a
							display block
							float left
							padding 0
							background-color transparent
							font 1.125rem $semibold !important
							color $white
							text-transform none
							&:hover
								color $dirtyWhite
				li
					display inline-block
					list-style-type none
					float left
					margin 0
					padding 30px 0px
					cursor pointer
					background-color $gray
					@media(max-width 1200px)
						padding 25px 0px
					li:last-child
						padding 0
						&:hover
							background-color transparent
							cursor default
						@media(max-width 1200px)
							padding 0
					&:hover
						background-color $buttonRed
						color $white
						ul.dropdown__menu
							display block
							transition 0.8s
					a
						padding 31px 20px
						margin 0
						font 0.939rem $regularMain
						line-height 16px
						text-decoration none
						color $white
						text-transform uppercase
						@media(max-width 1200px)
							font 0.89rem $regularMain
							padding 31px 10px
				li:last-child
					padding 30px 8px
					&:hover
						background-color $gray
						cursor default
					@media(max-width 1200px)
						padding 25px 4px
					.button
						font 0.9rem $regularMain
						padding 15px 15px
						background-color $buttonRed
						@media(max-width 1200px)
							padding 15px 6px
						&:hover
							background-color $red
			.mob-menu
				display none
				opacity 0.99
				@media(max-width 780px)
					left 3%
				@media(min-width 780px)
					left 13%
				.dropdown__menu
					display none
					padding 10px 0 10px 20px
					background-color #db2e35
					z-index 5
					text-align left
					li
						display block
						padding 9px 0
						background-color transparent
						@media(max-width 1200px)
							padding 0px
						&:first-child
							padding-top 0
							margin 0
						&:last-child
							padding 0
							background-color $buttonRed !important
						a
							display block
							padding 6px 0
							background-color transparent
							font 0.875rem $semibold !important
							color $white
							text-transform none
							&:hover
								color $dirtyWhite
								background-color transparent
				li
					list-style-type none
					background-color $gray
					opacity 0.99
					padding 9px 0
					cursor pointer
					&:hover
						background-color $buttonRed
						ul.dropdown__menu
							display block
							transition 0.8s
					a
						font 0.939rem $regularMain
						line-height 16px
						text-decoration none
						color $white
						text-transform uppercase
						@media(max-width 780px)
							padding 11px 50% 11px 20px
						@media(min-width 780px)
							padding 11px 70% 11px 20px
				li:first-child
					margin-top 40px
				li:nth-child(7)
					border-top 1px solid $dirtyWhite
				li:last-child
					padding 25px 20px
					&:hover
						background-color $gray
						cursor default
					.button
						font 0.9rem $regularMain
						padding 15px 10px
						background-color $buttonRed
						&:hover
							background-color $red
							transition 0.2s
			@media(max-width 992px)
				height 40px
				width 100%
				background-color $gray
				opacity 0.99
				display inline
				z-index 1
				position fixed
				top 0px