+b.call_us
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-sx-12
				+e.title
					h3 Есть вопросы?
			.col-lg-12.col-md-12.col-sm-12.col-sx-12
				+e.contant
					p Оставьте Ваш номер телефона - и мы сами перезвоним и все расскажем
			.col-lg-6.col-md-6.col-sm-12.col-sx-12
				+e.number
					form(name="phone_number")
						input(name="phone" type="text" placeholder="+7(   ) XXX-XX-XX")
			.col-lg-6.col-md-6.col-sm-12.col-sx-12
				+e.button
					.btn
						p
							input(type="submit" value="Связаться с менеджером")
