.call_us
	background-color #434546
	@media(min-width 480px)
		margin-top 150px
	&__title
		margin-top 25px
		margin-bottom 40px
		border-bottom 1px solid $lightGray
		h3
			text-align center
			width 148px
			margin 0 auto
			padding 20px 0 13px 0
			font 1.375rem $regularMain
			color $white
			border-bottom 1px solid $red
	&__contant
		margin-bottom 32px
		p
			text-align center
			font 1.125rem $regularMain
			color $white
	&__number
		margin-bottom 60px
		form input
			height 45px
			width 265px
			padding 10px 10px
			outline none
		input[placeholder] 
			font 1.125rem $regularMain
			font-style italic
			color $gray
		@media(min-width 992px)
			float right
		@media(max-width 992px)
			text-align center
	&__button
		margin-bottom 60px
		input
			padding 13px 20px
			font 1rem $regularMain
			color $white
			background-color $buttonRed
			text-transform uppercase
			outline none
			border none
			&:hover
				background-color $red
		@media(min-width 992px)
			float left
		@media(max-width 992px)
			text-align center