.footer
	background-color $footerBGC
	margin-top 120px
	@media(min-width 992px)
		padding-bottom 90px
	@media(max-width 992px)
		padding-bottom 35px
	@media(max-width 480px)
		margin-top 0
	&__column1
		p
			margin-bottom 10px
			a
				font 1rem $regularMenu
				color $white
				text-decoration none
		.mg
			@media(min-width 992px)
				margin-bottom 53px
		.points
			img
				display inline-block
			h3
				display inline-block
				font 0.875rem $regularMenu
				color $white
			p
				font 1rem $regularMenu
				color $white
				margin-bottom 20px
		@media(max-width 992px)
			margin-top 25px
		@media(min-width 992px)
			margin-top 80px
	&__column2
		.mail
			margin-top 54px
			margin-bottom 15px
			a
				margin-left 6px
				font 0.875rem $regularMenu
				color $white
				text-decoration none
		.btn
			margin-bottom 30px
			p
				a
					font 0.875rem $regularMenu
					color $white
					padding 8px 15px
					background-color $buttonRed
					text-transform uppercase
					text-decoration none
					&:hover
						background-color $red
		p
			margin-bottom 10px
			a
				font 1rem $regularMenu
				color $white
				text-decoration none
		img:last-child
			width 100px
		@media(max-width 992px)
			margin-top 25px
		@media(min-width 992px)
			margin-top 80px
	&__column3
		p
			margin-bottom 10px
			a
				font 1rem $regularMenu
				color $white
				text-decoration none
		@media(max-width 992px)
			margin-top 25px
		@media(min-width 992px)
			margin-top 80px
	&__column4
		p
			margin-bottom 10px
			a
				font 1rem $regularMenu
				color $white
				text-decoration none
		@media(max-width 992px)
			margin-top 25px
		@media(min-width 992px)
			margin-top 80px
	&__column5
		margin-top 52px
		.points
			img
				display inline-block
			h3
				display inline-block
				font 0.875rem $regularMenu
				color $white
			p
				font 1rem $regularMenu
				color $white
				margin-bottom 20px
	&__column6
		float right
		margin-top 52px
		.mail
			margin-bottom 15px
			a
				margin-left 6px
				font 0.875rem $regularMenu
				color $white
				text-decoration none
		.btn
			margin-bottom 30px
			p
				a
					font 0.875rem $regularMenu
					color $white
					padding 8px 15px
					background-color $buttonRed
					text-transform uppercase
					text-decoration none
					&:hover
						background-color $red
		img:last-child
			width 100px