mixin footer()
	+b.footer&attributes(attributes)
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.col-lg-3.col-md-3.col-sm-12.col-xs-12
						+e.column1
							p 
								a(href="#") Асфальтосмесительные установки
							p 
								a(href="#") Бетонные и грунтосмесительные<br>установки
							p 
								a(href="#") Система управления
							p.mg
								a(href="#") Б/у техника
							.points.hidden-sm.hidden-xs
								img(src="../assets/images/location-icon-footer.png")
								h3 Чита
								p +7 (3022) 31-49-45
							.points.hidden-sm.hidden-xs
								img(src="../assets/images/location-icon-footer.png")
								h3 Самара
								p +7 (846) 373-30-70
							.points.hidden-sm.hidden-xs
								img(src="../assets/images/location-icon-footer.png")
								h3 Хабаровск
								p +7 (4212) 41-88-01
					.col-lg-3.col-md-3.col-sm-12.col-xs-12
						+e.column2
							p 
								a(href="#") Монтаж и пусконаладка
							p 
								a(href="#") Модернизация
							p 
								a(href="#") Гарантийное и постгарантийное<br>обслуживание
							p 
								a(href="#") Б/у техника
							.mail.hidden-sm.hidden-xs
								img(src="../assets/images/mail-icon-footer.png")
								a(href="sds@sds-sam.ru") sds@sds-sam.ru
							.btn.hidden-sm.hidden-xs
								p
									a(href="#") Задать вопрос
							img(src="../assets/images/logo.png").hidden-sm.hidden-xs
					.col-lg-3.col-md-3.col-sm-12.col-xs-12
						+e.column3
							p 
								a(href="#") Агрегат питания
							p 
								a(href="#") Ленточный конвейер
							p 
								a(href="#") Сушильный барабан
							p 
								a(href="#") Газоочистное оборудование
							p 
								a(href="#") Топочный агрегат
							p 
								a(href="#") Агрегат смесительный
							p 
								a(href="#") Агрегат минерального порошка
					.col-lg-3.col-md-3.col-sm-12.col-xs-12
						+e.column4
							p 
								a(href="#") Агрегат пыли
							p 
								a(href="#") Агрегат готовой смеси
							p 
								a(href="#") Битумное оборудование
							p 
								a(href="#") Кабина оператора
							p 
								a(href="#") Электрооборудование
							p 
								a(href="#") Пневмосистема
							p 
								a(href="#") Битумопроводы
							p 
								a(href="#") Нагреватель жидкого теплоносителя
							p 
								a(href="#") Шнеки для транспортирования сыпучих<br>материалов
							p 
								a(href="#") Агрегат целлюлозной добавки
							p 
								a(href="#") Агрегат модифицирования битума
					.col-sm-6.col-xs-6.hidden-lg.hidden-md
						+e.column5
							.points
								img(src="../assets/images/location-icon-footer.png")
								h3 Чита
								p +7 (3022) 31-49-45
							.points
								img(src="../assets/images/location-icon-footer.png")
								h3 Самара
								p +7 (846) 373-30-70
							.points
								img(src="../assets/images/location-icon-footer.png")
								h3 Хабаровск
								p +7 (4212) 41-88-01
					.col-sm-6.col-xs-6.hidden-lg.hidden-md
						+e.column6
							.mail
								img(src="../assets/images/mail-icon-footer.png")
								a(href="sds@sds-sam.ru") sds@sds-sam.ru
							.btn
								p
									a(href="#") Задать вопрос
							img.logo-footer(src="../assets/images/logo.png")