+b.news
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.news-title
					h3 Новости
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.column
					.col-md-4
						.item
							.item__image
								h4 29 
									span сентября
							h5 Поздравления ПАО Кредмаш<br>145 лет
							p Уважаемые коллеги! От души<br>поздравляем...
							a(href="#") Читать полностью
					.col-md-4
						.item
							.item__image
								h4 29 
									span сентября
							h5 Поздравления ПАО Кредмаш<br>145 лет
							p Уважаемые коллеги! От души<br>поздравляем...
							a(href="#") Читать полностью
					.col-md-4
						.column__right
							.item-sm.hidden-sm.hidden-xs
								.item-sm__image
								h5 Поздравления ПАО Кредмаш<br>145 лет
								a(href="#") Читать полностью
							.item-sm.hidden-sm.hidden-xs
								.item-sm__image
								h5 Поздравления ПАО Кредмаш<br>145 лет
								a(href="#") Читать полностью
							.item-sm.hidden-sm.hidden-xs
								.item-sm__image
								h5 Поздравления ПАО Кредмаш<br>145 лет
								a(href="#") Читать полностью
							.see-more
								a(href="#") Смотреть все новости

