+b.content
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.breadcrumbs
					p
						a(href="#") Главная 
						span / 
						a(href="#") Каталог
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.catalog
					h3 Каталог
			.col-lg-6.col-md-6.col-sm-12.col-xs-12
				+e.services
					a(href="#")
						.item.img1
							h4 Асфальтосмесительные установки
			.col-lg-6.col-md-6.col-sm-12.col-xs-12
				+e.services
					a(href="#")
						.item.img2
							h4 Бетоные грудосмесительные установки
			.col-lg-6.col-md-6.col-sm-12.col-xs-12
				+e.services
					a(href="#")
						.item.img3
							h4 Система управления
			.col-lg-6.col-md-6.col-sm-12.col-xs-12
				+e.services
					a(href="#")
						.item.img4
							h4 Продажа б/у техники