.content
	background-color #fff
	&__breadcrumbs
		margin 40px 0px 20px 0px
		p
			span
				font 1.125rem $regularMain
				color $gray
			a
				font 1.125rem $regularMain
				color $gray
				text-decoration none
	&__catalog
		border-bottom 1px solid $lightGray
		margin-bottom 10px
		h3
			margin 0 auto
			padding 20px 0
			width 80px
			text-align center
			font 1.375rem $regularMain
			color $gray
			border-bottom 2px solid $red
	&__services
		margin-top 30px
		.item
			height 350px
			text-align left
			h4
				padding 20px 25px
				position absolute
				left 15px
				right 15px
				bottom 0px
				font 1.25rem $semibold
				color $white
				box-shadow 0 0 0 60px rgba(0, 0, 0, 0.43) inset
	.img1
		background url('../images/asphalt.png') no-repeat 50% 50%
		background-size cover
		&:hover
			box-shadow 350px 350px 350px 350px rgba(0, 0, 0, 0.5) inset
			transition 0.3s
	.img2
		background url('../images/concrete.png') no-repeat 50% 50%
		background-size cover
		&:hover
			box-shadow 350px 350px 350px 350px rgba(0, 0, 0, 0.5) inset
			transition 0.3s
	.img3
		background url('../images/system-control.png') no-repeat 50% 50%
		background-size cover
		&:hover
			box-shadow 350px 350px 350px 350px rgba(0, 0, 0, 0.5) inset
			transition 0.3s
	.img4
		background url('../images/sale-tech.png') no-repeat 50% 50%
		background-size cover
		&:hover
			box-shadow 350px 350px 350px 350px rgba(0, 0, 0, 0.5) inset
			transition 0.3s
				