+b.device
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.section
					h4 
						a(href="item.html") Асфальтосмесительные установки
				+e.section
					h4 
						a(href="#") Бетоные грудосмесительные установки
				+e.section
					h4 
						a(href="#") Система управления
				+e.section
					h4 
						a(href="#") Продажа б/у техники
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.breadcrumbs
					p
						a(href="#") Главная 
						span / 
						a(href="#") Перемещаемая асфальтосмесительная установка ДС-185М (42-56 т/ч)
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.title
					h3 Перемещаемая асфальтосмесительная установка ДС-185М (42-56 т/ч)
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.content
					.img1
					span Несмотря на возможность быстрого перемещения и монтажа, ДС-185М имеет все преимущества стационарных установок типа ДС-185. Производительность – 42-56т/ч, оптимальная вместимость бункера и возможность доступа для технического обслуживания и ремонта делают данную модель эффективным оборудованием для проведения дорожно-строительных работ на любых стадиях.
					h4 Модификации и технические характеристики установки
					.line
						h4.red ДС-185*
						p На жидком топливе с релейно-контактной системой управления
					.line
						h4.red ДС-1853*
						p На жидком топливе с микропроцессорной системой управления
					.line
						h4.green ДС-18561*
						p На природном газе с релейно-контактной системой управления
					.line
						h4.green ДС-18563*
						p На природном газе с микропроцессорной системой управления
					.line
						h4.red ДС-1857*
						p На жидком топливе с релейно-контактной системой управления с рукавными фильтрами
					.line
						h4.red ДС-18537*
						p На жидком топливе с микропроцессорной системой управления с рукавными фильтрами
					.line
						h4.red ДС-18567*
						p На природном газе с релейно-контактной системой управления с рукавными фильтрами
					.line
						h4.green ДС-185637*
						p На природном газе с микропроцессорной системой управления с рукавными фильтрами
					.description
						.green_img
						p На природном газе*
					.description
						.red_img
						p На жидком топливе*
					h4 Основные параметры и технические характеристики
					.table
						.table-line
							p Производительность номинальная при влажности исходных материалов (песка и щебня) до 3%, т/ч:
							span 56
						.table-line
							p Вместимость бункеров агрегата питания, куб. м.
							span 4*8=32
						.table-line
							p Вместимость бункеров агрегата готовой смеси, т
							span 72,9
						.table-line
							p Вместимость бункеров агрегата минерального порошка, куб. м.
							span 23
						.table-line
							p Вместимость цистерн для битума, куб. м.
							span 30
						.table-line
							p Тип дозаторов
							span весовые на тензодатчиках
						.table-line
							p Максимальная масса замеса, кг
							span 730
						.table-line
							p Тип пылеулавливающего устройства
							span рукавный фильтр или<br>комбинированный: сухой (циклоны),<br>мокрый (скруббер «Вентури»)
						.table-line
							p Удельный расход топлива для приготовления одной тонны смеси:<br>— при работе на жидком топливе, кг<br>— при работе на природном газе, м3 (присоединительное давление газа 0,3 кгс/кв.см.)
							span 5,5-9,5<br>6,3-10,8
						.table-line
							p Установленная мощность электрооборудования, кВт
							span 220
						.table-line
							p Габаритные размеры, м (длина, ширина, высота), max
							span 46,3*29,4*17,6
					img(src="../assets/images/scheme.png")
					h4 Конструкция асфальтосмесительных установок позволяет выполнять следующие операции технологического процесса:
					ul.list
						.list-line
							.point
							li Предварительное дозирование влажных каменных материалов в агрегате питания;
						.list-line
							.point
							li Просушивание и нагрев каменных материалов до рабочей температуры в сушильном барабане и подачу их к грохоту смесительного агрегата;
						.list-line
							.point
							li Сортировку нагретых каменных материалов на четыре фракции (0-5; 5-10; 10-20; 20-40 мм), временное хранение их в «горячем» бункере, дозирование и выдачу их в смеситель;
						.list-line
							.point
							li Трехступенчатую очистку выходящих из сушильного барабана дымовых газов от пыли в предварительной системе очистки, циклонах сухой пылеочистки и в мокром пылеуловителе — скруббере «Вентури» (эффективность пылеулавливания состовляет 99,7-99,85% в зависимости от вида применяемых материалов) или очистку в рукавных фильтрах — выбросы пыли составляют при этом не более 20 мг/куб. м.;
						.list-line
							.point
							li Использование уловленной пыли путем подачи ее элеватором в «горячий» бункер;
						.list-line
							.point
							li Прием минерального порошка из автоцементовозов, дозирование и выдачу в смеситель;
						.list-line
							.point
							li Прием битума из битумовозов (или склада битума), временное хранение и нагрев его в битумных цистернах до рабочей температуры, дозирование и подачу в смеситель;
						.list-line
							.point
							li Выдачу смеси в автосамосвал или подачу ее скиповым подъемником в бункера готовой смеси;
						.list-line
							.point
							li Обогрев битумных коммуникаций и насосов горячим маслом, нагретым в змеевике нагревателя битума.
					h4 В установках обеспечено:
					ul.list
						.list-line
							.point
							li Aвтоматизированное и дистанционное весовое дозирование каменных материалов, битума, минерального порошка и пыли, их перемешивание и выдача в бункер готовой смеси;
						.list-line
							.point
							li Контроль и регулирование температуры каменных материалов и отходящих дымовых газов на выходе из сушильного барабана, температуры топлива и готовой смеси;
						.list-line
							.point
							li Плавный пуск и остановку скипа.
					p.text.text-mg Стоит отметить, что трезступенчатая очистка дымовых газов гарантирует эффективную работу установки с нанесением минимального вреда окружающей среде.
					p.text Управление всей установкой централизованно и осуществляется с пульта управления, размещенного в кабине оператора. Кабина оператора оборудована кондиционером и громкоговорящей связью. Блочный принцип изготовления повышает заводскую готовность узлов и позволяет значительно сократить сроки монтажа установки. Применение микропроцессорной системы управления обеспечивает у потребителя наиболее оптимальный, экономичный режим работы установки, повышает культуру производства и безотказность работы оборудования. При этом вся информация, в том числе и о возможных неисправностях, выводится на дисплей. Завод может поставлять изделия в комплектности, необходимой заказчику.