extends ../layouts/main

block head
	- var pageTitle = 'Каталог';

block content
	include ../blocks/content/content
	include ../blocks/news/news
	include ../blocks/advantages/advantages
	include ../blocks/call_us/call_us