extends ../layouts/main

block head
	- var pageTitle = 'Асфальтосмесительные установки';

block content
	include ../blocks/product/product
	include ../blocks/news/news
	include ../blocks/call_us/call_us