extends ../layouts/main

block head
	- var pageTitle = 'Перемещаемая асфальтосмесительная установка ДС-185М (42-56 т/ч)';

block content
	include ../blocks/device/device
	include ../blocks/news/news
	include ../blocks/call_us/call_us