@font-face{
	src: url(fonts/Montserrat-Regular.otf);
	font-family: Montserrat-Regular;
}
@font-face{
	src: url(fonts/CrimsonText-Roman.ttf);
	font-family: Crimson-Text;
}
@font-face{
	src: url(fonts/CrimsonText-Italic.ttf);
	font-family: CrimsonText-Italic;
}
@font-face{
	src: url(fonts/Montserrat-Black.otf);
	font-family: Montserrat-Black;
}
@font-face{
	src: url(fonts/Montserrat-Light.otf);
	font-family: Montserrat-Light;
}