//Colors
$white = #ffffff;
$darkWhite = #f3f2f2;
$dirtyWhite = #d7d7d7;
$black = #000000;
$footerBGC = #434546;
$gray = #333333;
$lightGray = #dddddd;
$darkGray = #8e8e8e; 
$fontGray = #949494;
$fontDirtyGray = #777777;
$fontDarkGray = #484848;
$borderGray = #e9e9e9;
$pointGray = #ababab;
$red = #ab2728;
$lightRed = #dfaeae;
$buttonRed = #dd2d36;
$green = #009920;
$darkGreen = #007e1a;

//Fonts

$regularMain = 'Proxima-Nova-Regular';
$semibold = 'Proxima-Nova-Semibold';
$regularMenu = 'PTSans-Regular';
$bold = 'Proxima-Nova-Bold';
$extrabold = 'Proxima-Nova-Extrabold';

// Fonts
$fontSize = 16px
$lineHeight = 1.4
$baseLine = $fontSize * $lineHeight