@import '_variables'
@import '_mixins'

rupture.desktop-cutoff = $desktop
rupture.mobile-cutoff = $mobile

@import 'base/reset'
@import 'base/core'
@import 'base/fonts'
@import 'base/utilities'
@import 'base/font-awesome'
@import 'base/hamburger'
//@import 'base/grid'


@import '../blocks/header/*'
@import '../blocks/device/*'
@import '../blocks/product/*'
@import '../blocks/content/*'
@import '../blocks/news/*'
@import '../blocks/advantages/*'
@import '../blocks/call_us/*'
@import '../blocks/footer/*'