+b.product
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.section
					h4 
						a(href="#") Асфальтосмесительные установки
				+e.section
					h4 
						a(href="#") Бетоные грудосмесительные установки
				+e.section
					h4 
						a(href="#") Система управления
				+e.section
					h4 
						a(href="#") Продажа б/у техники
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.breadcrumbs
					p
						a(href="#") Главная 
						span / 
						a(href="#") Асфальтосмесительные установки
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.catalog
					h3 Асфальтосмесительные установки
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.title
					h3 Производитель
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				+e.tabs
					ul.tabNavigation
						li
							a(href="#first") 56/час
							a(href="#second").hidden-xs 65/час
							a(href="#third").hidden-xs 80/час
							a(href="#fourth").hidden-xs 110/час
							a(href="#fifth").hidden-xs 160/час
							a(href="#sixth").hidden-xs 200/час
					#first
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.product__item
								h2 АСУ — производительность 56 тонн/час
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__item
								h2 Перемещаемая асфальтосмесительная установка ДС-185М
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__manual
								h2 Асфальтосмесительная установка серии ДС- 185 выпускается в комплектации:
								li Стационарного типа
									ul Система пылеочистки — комбинированная (сухая, группа циклонов и мокрая, скруббер Вентури)
										li ДС-1853 – для работы на жидком топливе
										li ДС-18563 – для работы на газе
									ul Рукавный фильтр
										li ДС-18537 – для работы на жидком топливе
										li ДС-185637 – для работы на газе
								li Перемещаемая и быстромонтируемая: ДС-18537
								li В автомобильном габарите: ДС-18537А, ДС-1853А
					#second
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.product__item
								h2 АСУ — производительность 56 тонн/час
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__item
								h2 Перемещаемая асфальтосмесительная установка ДС-185М
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__manual
								h2 Асфальтосмесительная установка серии ДС- 185 выпускается в комплектации:
								li Стационарного типа
									ul Система пылеочистки — комбинированная (сухая, группа циклонов и мокрая, скруббер Вентури)
										li ДС-1853 – для работы на жидком топливе
										li ДС-18563 – для работы на газе
									ul Рукавный фильтр
										li ДС-18537 – для работы на жидком топливе
										li ДС-185637 – для работы на газе
								li Перемещаемая и быстромонтируемая: ДС-18537
								li В автомобильном габарите: ДС-18537А, ДС-1853А
					#third
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.product__item
								h2 АСУ — производительность 56 тонн/час
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__item
								h2 Перемещаемая асфальтосмесительная установка ДС-185М
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__manual
								h2 Асфальтосмесительная установка серии ДС- 185 выпускается в комплектации:
								li Стационарного типа
									ul Система пылеочистки — комбинированная (сухая, группа циклонов и мокрая, скруббер Вентури)
										li ДС-1853 – для работы на жидком топливе
										li ДС-18563 – для работы на газе
									ul Рукавный фильтр
										li ДС-18537 – для работы на жидком топливе
										li ДС-185637 – для работы на газе
								li Перемещаемая и быстромонтируемая: ДС-18537
								li В автомобильном габарите: ДС-18537А, ДС-1853А
					#fourth
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.product__item
								h2 АСУ — производительность 56 тонн/час
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__item
								h2 Перемещаемая асфальтосмесительная установка ДС-185М
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__manual
								h2 Асфальтосмесительная установка серии ДС- 185 выпускается в комплектации:
								li Стационарного типа
									ul Система пылеочистки — комбинированная (сухая, группа циклонов и мокрая, скруббер Вентури)
										li ДС-1853 – для работы на жидком топливе
										li ДС-18563 – для работы на газе
									ul Рукавный фильтр
										li ДС-18537 – для работы на жидком топливе
										li ДС-185637 – для работы на газе
								li Перемещаемая и быстромонтируемая: ДС-18537
								li В автомобильном габарите: ДС-18537А, ДС-1853А
					#fifth
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.product__item
								h2 АСУ — производительность 56 тонн/час
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__item
								h2 Перемещаемая асфальтосмесительная установка ДС-185М
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__manual
								h2 Асфальтосмесительная установка серии ДС- 185 выпускается в комплектации:
								li Стационарного типа
									ul Система пылеочистки — комбинированная (сухая, группа циклонов и мокрая, скруббер Вентури)
										li ДС-1853 – для работы на жидком топливе
										li ДС-18563 – для работы на газе
									ul Рукавный фильтр
										li ДС-18537 – для работы на жидком топливе
										li ДС-185637 – для работы на газе
								li Перемещаемая и быстромонтируемая: ДС-18537
								li В автомобильном габарите: ДС-18537А, ДС-1853А
					#sixth
						.col-lg-12.col-md-12.col-sm-12.col-xs-12
							.product__item
								h2 АСУ — производительность 56 тонн/час
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__item
								h2 Перемещаемая асфальтосмесительная установка ДС-185М
								img(src="../assets/images/DS-185.png")
								.product__item-text
									p <span>Применение:</span> содержание, асфальтировка благоустройства, ямочный ремонт.
									ul Мощность:
										li Горелки — 4мВт
										li Потребляемая — не более 185 кВт
									span.price Цена: от 18 млн. рублей
									a(href="item2.html") Подробнее
									button
										a(href="#") Рассчитать стоимость
							.product__manual
								h2 Асфальтосмесительная установка серии ДС- 185 выпускается в комплектации:
								li Стационарного типа
									ul Система пылеочистки — комбинированная (сухая, группа циклонов и мокрая, скруббер Вентури)
										li ДС-1853 – для работы на жидком топливе
										li ДС-18563 – для работы на газе
									ul Рукавный фильтр
										li ДС-18537 – для работы на жидком топливе
										li ДС-185637 – для работы на газе
								li Перемещаемая и быстромонтируемая: ДС-18537
								li В автомобильном габарите: ДС-18537А, ДС-1853А