html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*/
img,
object,
embed {max-width: 100%;}


html {overflow-y: scroll;}

ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}


sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

pre, code, kbd, samp {font-family: monospace, sans-serif;}


.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

button, input, select, textarea {margin: 0;}


button,
input[type=button] {width: auto; overflow: visible;}

.ie7 img {-ms-interpolation-mode: bicubic;}




.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

html {
    overflow-x: hidden;
}

body {
    background-color: #fff;
}

.header h1 {
    margin-top: 170px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Roboto Medium';
    font-size: 40px;
    line-height: 49px;
    font-weight: 500;
    color: #11264A;
    font-style: normal;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 1370px;
    flex-direction: column;
}

.cases__bg {
    display: inline;
    position: absolute;
    top: 445px;
    left: 72%;
    font-family: 'Playfair Display Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 200px;
    line-height: 280px;
    color: transparent;
    z-index: 0;

    transform: rotate(90deg);
    text-shadow: 0px 3px 4px rgba(255,255,255,0.5);
    background-color: #f1f1f1;

    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

/* Стили слайдера */

#viewport, #sms-viewport {
    box-shadow: 0px 4px 20px rgba(17, 38, 74, 0.2);
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#slidewrapper, #sms-slidewrapper {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#sms-slidewrapper {
    width: calc(100% * 5);
}

#slidewrapper div,
#sms-slidewrapper div {
    width: calc(100%/4);
    float: left;
}

#sms-slidewrapper div {
    width: calc(100%/5);
}


.slider {
    display: flex;
    height: 660px;
    z-index: 2;
}

.slider__bg-1 {
    display: flex;
    height: 660px;
    width: 791px !important;
    background: url(../images/building1.png) no-repeat 0% 0%;
}

.slider__bg-2{
    display: flex;
    height: 660px;
    width: 791px !important;
    background: url(../images/building2.png) no-repeat 0% 0%;
}

.slider__info {
    padding: 40px 0 0 50px;
    display: flex;
    flex-direction: column;
    width: 579px !important;
    background-color: #fff;
}

.slider__info h3 {
    margin-bottom: 7px;
    margin-right: 125px;
    font-family: 'Playfair Display Bold';
    font-style: bold;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: #C69642;
}

.slider__info h3 span {
    font-size: 45px;
}

.slider__info h4 {
    margin: 20px 125px 10px 0;
    font-family: 'Roboto Medium';
    font-style: bold;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #11264A;
}

.slider__info p span {
    font-family: 'Roboto Medium';
    font-style: bold;
    font-weight: 500;
}

.slider__info p {
    margin: 3px 125px 3px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}

.slider__info-navigation {
    position: absolute;
    top: 90%;
    left: 1140px;
    width: auto !important;
    display: flex;
    align-self: flex-end;
    align-items: center;
}

/* Стрелки навигации */

#prev-btn, #next-btn {
    display: flex;
    height: 25px;
    width: 13px;
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    background: url(../images/left-vector.png) no-repeat 0% 0%;
}

#next-btn {
    background: url(../images/right-vector.png) no-repeat 0% 0%;
}



.slider__info-navigation  .this-page {
    display: flex;
    margin-top: -15px;
    margin-left: 15px;
    font-family: 'Playfair Display Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: normal;
    color: #E8C48A;
    text-shadow: 0px 2px 6px rgba(251, 217, 164, 0.3);
}

.slider__info-navigation .all-pages {
    display: flex;
    margin-right: 15px;
    margin-top: -10px;
    font-family: 'Playfair Display Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
    color: rgba(17, 38, 74, 0.5);
}

/* Стили навигации */

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 40px;
    left: 841px;
    padding: 0;
    margin: 0;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 6px;
    height: 6px;
    background-color: #11264A;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
    background-color: #E8C48A;
}

.active {
    background-color: #E8C48A;
}

/* Стили доп информации */

.assets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 110px;
}

.assets h2 {
    display: flex;
    align-self: flex-start;
    width: 100%;
    margin: 38px 0 30px 0;
    font-family: 'Playfair Display Bold';
    font-style: bold;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: #11264A;
}

.assets__advantages {
    display: flex;
    flex-direction: column;
    width: 295px;
}

.assets__advantages h3 {
    font-family: 'Roboto Medium';
    font-style: bold;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #C69642;
}

.assets__advantages p {
    margin: 2px 0 0 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #11264A;
}

/* Стили обратной связи */

.sms {
    position: relative;
    height: 583px;
    width: 100%;
    background: url(../images/bg-sms.png) no-repeat 0% 0%;
    background-size: cover;
}

.sms-container {
    position: relative;
    top: 80px;
    z-index: 2;
    margin: 0 auto;
    max-width: 1148px;
}

.sms__description {
    display: flex;
    flex-direction: column;
    width: 407px !important;
    padding: 59px 49px 0 49px;
    background: linear-gradient(180deg, #173363 0%, #11264A 100%), #11264A;
}

.sms__description h3 {
    margin-bottom: 20px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;

    color: #FFFFFF;
}

.sms__description p {
    font-family: 'Roboto Thin';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}

/* Стили формы */

.sms-form {
    display: flex;
    height: 400px;
}

.sms__info {
    display: flex;
    flex-direction: column;
    padding: 64px 0 0 70px;
    width: 741px !important;
    background-color: #fff;
}

.sms__info h3 {
    margin-bottom: 5px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #11264A;
}

.sms__info h4 {
    margin-bottom: 20px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #11264A;
}

.sms__info__indicators {
    margin-bottom: 65px;
    height: 7px;
    width: 383px !important;
    background-color: #F6F6F6;
    border-radius: 5px;
}

.sms__info__fill-1 {
    height: 7px;
    width: 96px !important;
    background-color: #E8C48A;
    border-radius: 5px;
}

.sms__info__fill-2 {
    height: 7px;
    width: 191px !important;
    background-color: #E8C48A;
    border-radius: 5px;
}

.sms__info__fill-3 {
    height: 7px;
    width: 284px !important;
    background-color: #E8C48A;
    border-radius: 5px;
}

.sms__info__fill-4 {
    height: 7px;
    width: 383px !important;
    background-color: #E8C48A;
    border-radius: 5px;
}

.sms__info form input {
    height: 50px;
    width: 344px;
    padding-left: 16px;
	border-radius: 4px;
	position: relative;
	border: 5px solid transparent;
	background: #fff;
	background-clip: padding-box;
    box-shadow: 0 0 5px 0 #D4AC6B,
                0 0 5px 0 #FFDCA3;
    outline: none;
}

.sms__info form input::placeholder {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: rgba(17, 38, 74, 0.6);
}

.sms__info form label {
    margin-left: 35px;
    padding: 16px 46px 17px 41px;
    background-color: #11264A;
    font-family: 'Roboto Thin';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: default;
}

.sms__info form .vector1 {
    display: inline;
    width: 50px;
    height: 50px;
    background: url(../images/vector-up.png) no-repeat 0% 0%;
    position: relative;
    top: -102px;
    left: 412px;
}

.sms__info form .vector2 {
    display: inline;
    width: 50px;
    height: 50px;
    background: url(../images/vector-up.png) no-repeat 0% 0%;
    position: relative;
    top: 92px;
    left: 277px;
}

.sms__info form .vector3 {
    display: inline;
    width: 55px !important;
    height: 50px !important;
    background: url(../images/vector-up.png) no-repeat 0% 0%;
    position: relative;
    top: -85px;
    left: 215px;
}

.sms__info form .next {
    width: auto !important;
    display: inline;
    position: relative;
    margin: 56px 35px 49px 470px;
    padding: 14px 70px 11px 67px;
    
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;

    color: #11264A;

    background: linear-gradient(90deg, #D7B57E 0%, #FAD08C 100%);
    background-clip: padding-box;

    border: 0 solid transparent;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #D4AC6B,
                0 0 4px 0 #FFDCA3;
    outline: none;
    cursor: pointer;
}

.sms__info-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1148px !important;
    background-color: #fff;
}

.sms__info-end h3 {
    margin: 108px 0 20px 0;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #11264A;
}

.sms__info-end h4 {
    margin-bottom: 20px;
    text-align: center;
    width: 306px;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #11264A;
}

.sms__info-end h4 span {
    font-family: 'Roboto Medium';
    font-weight: 500;
}

.sms__info-end h5 {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #11264A;
}

.sms__info-end .thanks {
    display: inline;
    position: absolute;
    top: 210px;
    left: 4750px;
    font-family: 'Playfair Display Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 200px;
    line-height: 280px;
    color: transparent;

    text-shadow: 0px 3px 4px rgba(255,255,255,0.5);
    background-color: #f1f1f1;

    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

/*	=	Select */

.slct {
    display: block;
    position: relative;
    height: 50px;
    width: 344px;
    padding-left: 16px;
    padding-top: 16px;
	border-radius: 4px;
	background: #fff;
	background-clip: padding-box;
    box-shadow: 0 0 5px 0 #D4AC6B,
                0 0 5px 0 #FFDCA3;
    background-position: 290px -145px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
    outline: none;
}

.slct, .slct a {
    text-decoration: none;

    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;

    color: rgba(17, 38, 74, 0.6);;
}

.slct.active {
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}

.drop {
    margin: 0;
    margin-top: 3px;
	padding: 0;
	width: 344px;
	border-top: none;
	display: none;
	position: absolute;
    background: #fff;
    box-shadow: 0px 8px 5px rgba(17, 38, 74, 0.2);
}

.drop li {
    height: 50px;
    padding: 16px 0 0 16px;
	list-style: none;
	border-top: 1px dotted #e8e8e8;
	cursor: pointer;
	display: block;
    background-position: 10px -119px;
	background: #fff;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
    outline: none;
    text-decoration: none;
    color: #11264A;
    z-index: 10;
}

.drop li a {
    text-decoration: none;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #11264A;
}

.drop li:hover, .drop li:active {
    color: #222;
    background-color: #FBD9A4;
    border: 2px solid rgba(17, 38, 74, 0.1);
    box-sizing: border-box;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #11264A;
}

.label-slc-1 {
    position: relative;
    top: 15px;
    left: 85px;
}

.label-slc-2 {
    width: 243px;
    padding: 16px 70px 17px 70px !important;
    position: relative;
    top: -190px;
    left: -10px;
}

.sms__info form textarea {
    height: 132px;
    width: 344px;
    padding-left: 16px;
    padding-top: 16px;
	border-radius: 4px;
	position: relative;
	border: 5px solid transparent;
	background: #fff;
	background-clip: padding-box;
    box-shadow: 0 0 5px 0 #D4AC6B,
                0 0 5px 0 #FFDCA3;
    outline: none;
    overflow: auto;
    resize: none;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #11264A;
}

.sms__info form textarea::placeholder {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: rgba(17, 38, 74, 0.6);
}

.number {
    width: 238px !important;
    border: none !important;
    padding-left: 36px !important;
    top: -135px;
    left: 374px;
    background: url(../images/phone.png) no-repeat 12px 18px !important;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #11264A;
}

.label-num {
    position: absolute;
    top: 177px;
    left: 3890px;
    font-family: 'Roboto Regular' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 10px !important;
    line-height: 14px !important;
    color: #11264A !important;
    margin-left: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    cursor: default;
}

/*	=	CheckBox */
.checkboxes {
    position: relative;
    top: -120px;
    left: 377px;
    height: 12px;
    width: 245px !important;
    float: none !important;
}

.check input[type=checkbox] {
	position: absolute;
	left: -10000px;
}
.check {
    width: 245px !important;
    height: 12px;
	padding-left: 20px;
	cursor: pointer;
    background: url(../images/no-check.png) no-repeat 0 0;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: normal;

    color: rgba(17, 38, 74, 0.8);
}
.check.active-ch {
    background: url(../images/check.png) no-repeat 1.5px 2.5px,
                url(../images/no-check.png) no-repeat 0 0;
}

.next-4 {
    margin: 0;
    padding: 14px 70px 11px 67px !important;
    height: 40px !important;
    width: 180px !important;
    top: -70px;
    left: 450px;
    display: inline;
    position: relative;
    padding: 14px 70px 11px 67px;

    background: linear-gradient(90deg, #D7B57E 0%, #FAD08C 100%) !important;
    background-clip: padding-box !important;

    border: 0 solid transparent !important;
    border-radius: 4px !important;
    box-shadow: 0 0 4px 0 #D4AC6B,
                0 0 4px 0 #FFDCA3 !important;
    outline: none !important;
    cursor: pointer !important;

    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
    color: #11264A;
}

.sms__info-end .close {
    display: inline;
    position: absolute;
    top: 30px;
    right: -1097px;
    height: 21px;
    width: 21px;
    background: url(../images/x.png) no-repeat 0 0;
}

.hidden {
    display: none;
}