// Regular Proxima
@font-face
	font-family 'Proxima-Nova-Regular'
	src url('../fonts/Proxima-Nova-Regular.otf')
	font-style normal

//Semibold Proxima
@font-face
	font-family 'Proxima-Nova-Semibold'
	src url('../fonts/Proxima-Nova-Semibold.otf')
	font-style normal

//Bold Proxima
@font-face
	font-family 'Proxima-Nova-Bold'
	src url('../fonts/Proxima-Nova-Bold.otf')
	font-style normal

//Extrabold Proxima
@font-face
	font-family 'Proxima-Nova-Extrabold'
	src url('../fonts/Proxima-Nova-Extrabold.otf')
	font-style normal
	
// Regular PT Sans
@font-face
	font-family 'PTSans-Regular'
	src url('../fonts/PTSans-Regular.ttf')
	font-style normal